@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

html,
body {
    background: white;
    font-family: "Arimo", sans-serif;
    scroll-behavior: smooth;
    scroll-padding-top: 95px;
    text-wrap: balance;
    overflow-x: hidden;
}

h1,
.h1 {
    font-size: 2.5rem;
    line-height: 3.25rem;
    font-weight: 700;
    letter-spacing: -0.6px;
    @media(max-width: 768px) {
        font-size: 2rem;
        line-height: 2.5rem;
        letter-spacing: -0.03rem;
    }
}

h2,
.h2 {
    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: 600;
    letter-spacing: -0.025rem;

    @media(max-width: 768px) {
        font-size: 1.5rem;
        line-height: 2rem;
    }
}

h3,
.h3 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    letter-spacing: -0.025rem;

    @media(max-width: 768px) {
        font-size: 1.25rem;
        line-height: 1.75rem;
    }
}

h4,
.h4 {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 600;
    letter-spacing: -0.02rem;

    @media(max-width: 768px) {
        font-size: 1rem;
        line-height: 1.5rem;
    }
}

h5,
.h5 {
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 600;
    letter-spacing: -0.6px;
    letter-spacing: -0.02rem;

    @media(max-width: 768px) {
        font-size: 1rem;
        line-height: 1.5rem;
        letter-spacing: -0.03rem;
    }
}

h6,
.h6 {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 600;

    @media(max-width: 768px) {
        font-size: 0.875rem;
        line-height: 1.25rem;
    }
}

.body-1 {
    font-size: 1.15rem;
    line-height: 1.5rem;
    font-weight: 400;
    letter-spacing: -0.3px;

    @media(max-width: 768px) {
        font-size: 0.875rem;
        line-height: 1.25rem;
    }
}

.body-bold {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 700;

    @media(max-width: 768px) {
        font-size: 0.875rem;
        line-height: 1.25rem;
    }
}

.text-small {
    font-size: 15px;
    line-height: 1.25rem;
    font-weight: 500;

    @media(max-width: 768px) {
        font-size: 14px;
        line-height: 1rem;
    }
}

.primary-btn {
    background: linear-gradient(352deg, #6731ec 1.65%, #44CFFF 118.4%);
    border-radius: 0.5rem;
    color: white;
    padding: 0.75rem 1.5rem;
    font-weight: 700;
    animation: animate 5s linear infinite;
    background-size: 600%;

    @media(max-width: 768px) {
        padding: 0.5rem 1rem;
    }
}

.revealed {
    opacity: 1 !important;
    transform: translateY(0) !important;
    transition: opacity 0.6s ease-out, transform 0.6s ease-out !important;
}

[data-reveal] {
    opacity: 0;
    transform: translateY(20px);
}

[data-reveal="left"] {
    transform: translate(-50px, 0);
}

[data-reveal="right"] {
    transform: translate(50px, 0);
}


ul>li {
    list-style: disc;
}

ul>li {
    list-style: numbers;
    margin-left: 20px;
}

ol,
ul {
    margin-left: 10px;
    li {
        margin-left: 20px;
        padding:5px 0;
    }

}

p{
    padding: 10px 0;
}

pre>code{
    padding: 1rem;
    background: #1e1e1e;
    border-radius: 0.5rem;
    width: 100%;
    display: block;
    overflow-x: auto;
  }

  pre>code::-webkit-scrollbar{
    height: 4px;
    background-color: white;
  }

  pre>code::-webkit-scrollbar-thumb{
    background-color: #1e1e1e;
    border-radius: 4px;
  }